.instructions
{
  font-size: 15px;
  color: rgb(0, 98, 255);

}

.heading
{
  font-size: 25px;
  width: 100%;
  margin-top: 0px;
}

body
{
  background-size: cover ;
}

Canvas
{
  border: 5px dashed blueviolet;
  border-radius: 20px;
  margin-top: 90px;
}